body {font-family: Monaco, monospace; font-size:12px; text-align:left; color:#000; margin:0; padding:0;}
    .right {text-align:right;}
.left {text-align:left;}

#doc_header {margin-bottom:2px; text-align:center; }
#store_name {font-size:15px; font-weight:bold; text-align:center;}
#client_info {text-align:center; }

table#products {width:100%; margin:1em 0;}
th {border-bottom:1px;}
.qty {text-align:center;} /* tr's and th's */
.price {white-space:nowrap; text-align:right;}
td {padding:0.1em 0em; vertical-align:top;}

#card_signature {padding:0em 3em; text-align:left;}
#sign_line {margin-top:1em; border-bottom:1px solid #000; padding-bottom:0.5em;}

#doc_info {text-align:center; }
#doc_info h4 {padding: 0px 5px; text-align:left; }
#doc_info li {text-align:left; }
#store_footer {border-top:1px; margin:5px 0px; text-align:center; }

/* Credit Card data
---------------------*/
.unstyled {padding: 0em; list-style: none; }


/* total discount
------------------*/
tr.total_discount td {padding: 3.5em 0;}

/* TIP and Total Paid
------------------*/
.clearfix {
     *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {clear: both;}

.container{width:100%;}

.signature {padding: 50%; text-align:center;}

.signature_agreement { text-align: center; font-weight: bold;}

.col{float:left; }

.col.value{border-bottom:1px solid #000; text-indent:-24px;}
.col.val{border-bottom:0px; text-align:right;}

.col-2{width:50%; margin:30px 0;}
.col-3{width:50%; margin:5px 0;}


/*  Reciept title
 ------------------ */
.receipt_name {text-align: center;}

.store-logo {
    height: auto;
    max-height: 100px;
    max-width : 100%;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 58mm;
    padding: 0;
    border: 1px #D3D3D3 solid;
    background: white;
}
.subpage {
    padding: 1mm;
    border: 2px red solid;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: 58mm 1000mm;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}